@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Rokkitt:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  visibility: visible;
}

body {
  min-height: 100vh;
  background: #808080;
}

.head {
  font-family: "Open Sans", sans-serif;
  color: #ffe3da;
  display: flex;
  padding: 20px;
  align-items: center;
  height: 10%;
}

.a1 {
  font-family: "Open Sans", sans-serif;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.a2 {
  color: #ffe3da;
}

.logo {
  padding: 10px;
}

.a1logo {
  transition: transform 0.5s;
}

.a1logo:hover {
  transform: rotate(180deg);
  animation: spinLogo 0.5s linear infinite;
}

@keyframes spinLogo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navigation {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  display: flex;
  font-size: 2em;
  justify-content: center;
  padding: 5px 0;
}

.navigation a {
  color: #ffe3da;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.navigation a:hover {
  border-bottom: 5px solid #ffe3da;
}

.boxes {
  position: relative;
  margin: 30px auto;
  width: 90%;
  height: 700px;
  background: transparent;
  border: 2px solid #d8d9da;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px #ffe3da;
  overflow: hidden;
}

.boxes .a2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top: 3%;
  font-size: 24px;
}

.boxes .inner1 {
  font-family: "Open Sans", sans-serif;
}

.card1 {
  position:absolute;
  display: flex;
  width: 390px;
  height: 155.5px;
  top: 30%;
  right: 50%;
  transform: translate(50%, -50%);
  background-image: linear-gradient(163deg, #ffe3da 0%, #ffe3da 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.card12 {
  width: 390px;
  height: 154px;
  background-color: #ffe3da;
  border-radius: 20px;
  transition: all 0.2s;
}

.card12:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card1:hover {
  box-shadow: 0px 0px 30px 1px #ffe3da;
}

.card12 .p {
  font-family: "Rokkitt", serif;
  color: #808080;
  margin-left: 3%;
  padding-top: 4%;
  font-size: 19px;
}

.word {
  color: #808080;
  font-family: "Open Sans", sans-serif;
  margin-left: 3%;
  font-size: 34px;
}

.ho {
  color: #808080;
  font-family: "Rokkitt", serif;
  margin-left: 3%;
}

@media screen and (max-width: 1280px) {
  .boxes {
    height: 900px;
  }
  .card1,
  .card1a {
    position: absolute;
    width: 314px;
    height: 157px;
  }
  .card12 .card12a {
    position: absolute;
    width: 314px;
    height: 156px;
  }

  .card12 .ho {
    font-size: 15px;
  }

  .card1a {
    position: absolute;
    display: flex;
    width: 314px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
    transform: translate(50%, -50%);
    background-image: linear-gradient(163deg, #ffe3da 0%, #ffe3da 100%);
    border-radius: 20px;
    transition: all 0.3s;
  }

  .card12a {
    width: 314px;
    height: 274.5px;
    background-color: #ffe3da;
    border-radius: 20px;
    transition: all 0.2s;
  }
}

.sleeping img {
  position: absolute;
  top: 320px;
  left: 100px;
}

.card1a {
  position: absolute;
  display: flex;
  max-width: 390px;
  height: 275.5px;
  top: 70%;
  right: 50%;
  transform: translate(50%, -50%);
  background-image: linear-gradient(163deg, #ffe3da 0%, #ffe3da 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.card12a {
  width: 390px;
  height: 274.5px;
  background-color: #ffe3da;
  border-radius: 20px;
  transition: all 0.2s;
}

.card12a:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card1a:hover {
  box-shadow: 0px 0px 30px 1px #ffe3da;
}

.card12a .p {
  font-family: "Rokkitt", serif;
  color: #808080;
  margin-left: 6%;
  padding-top: 4%;
  font-size: 19px;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.images element {
  display: flex;
  justify-content: center;
  align-items: center;
}
