body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #817256;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  main {
    margin: 20px;
  }
  
  h2 {
    border-bottom: 1px solid #7e5aff;
    margin-top: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .job-title {
    font-weight: bold;
  }