@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Rokkitt:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Open+Sans&family=Rokkitt:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  visibility: visible;
  /* overflow: hidden */
}

body {
  min-height: 100vh;
  background: #000000;
  background-image: url("https://images.alphacoders.com/131/1311951.jpg");
  background-size: cover;
}

.head {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  display: flex;
  padding: 20px;
  align-items: center;
  height: 10%;
}

.a1 {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.a2 {
  color: #ffffff;
}

.logo {
  padding: 10px;
}

.a1logo {
  transition: transform 0.5s;
}

.a1logo:hover {
  animation: blur 5s infinite;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0px);
  }
}

.navigation p {
  text-align: center;
  font-size: 1em;
  float: left;
  padding: 12px;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.navigation {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  display: flex;
  font-size: 2em;
  justify-content: left;
  padding: 10px 0;
  padding-left: 20px;
}

.navigation a {
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  float: left;
}

.buttons {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  display: flex;
  font-size: 1em;
  justify-content: right;
  padding: 25px 0;
  padding-right: 20px;
  float: right;
  cursor: pointer;
}
.buttons p {
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  padding: 12px 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  cursor: pointer;
}

.buttons span {
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  cursor: pointer;
}
.buttons span:hover {
  border-bottom: 5px solid #ffffff;
  cursor: pointer;
}

.navigation a:hover {
  border-bottom: 5px solid #ffffff;
}

.row {
  display: flex;
  width: 100%;
}

.row div {
  width: 50%;
}

.noMargin {
  margin: 0px;
}

.col {
  position: relative;
  margin: 30px auto;
  margin-right: 2%;
  margin-left: 2%;
  width: 40%;
  height: 200px;
  background: transparent;
  border: 2px solid #d8d9da;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #ffffff;
  overflow: hidden;

}

.col h2{
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 24px;
  padding-top: 2%;
  padding-left: 3%;
  justify-content:left;
  text-align: left;
}

.ControlBox {
  position: relative;
  margin: 30px auto;
  width: 90%;
  height: 100px;
  background: transparent;
  border: 2px solid #d8d9da;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px #ffffff;
  overflow: visible;
}

.disclaimer{
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top: 10%;
  font-size: 14px;
}
.disclaimer p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top: 30%;
  font-size: 15px;
}

.boxes1 {
  position: relative;
  margin: 30px auto;
  width: 90%;
  height: 700px;
  overflow: hidden;
}
.boxes2 {
  position: relative;
  margin: 30px auto;
  width: 90%;
  height: 700px;
  background: transparent;
  border: 2px solid #d8d9da;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px #ffffff;
  overflow: hidden;
}
.boxes3 {
  position: relative;
  margin: 30px auto;
  width: 90%;
  height: 700px;
  background: transparent;
  border: 2px solid #d8d9da;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px #ffffff;
  overflow: hidden;
  justify-content:left;
  text-align: left;
}

.boxes1 p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top: 3%;
  font-size: 24px;
}

.boxes1 img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card1 {
  position: relative;
  margin: 30px auto;
  margin-right: 2%;
  margin-left: 2%;
  width: 40%;
  height: 200px;
  background: transparent;
  border: 2px solid #d8d9da;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #ffffff;
  overflow: hidden;
}

.card1 a {
  width: 20%;
}
.card1 p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top: 5%;
  font-size: 24px;
}

.projects h1 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 24px;
  padding-top: 3%;
}
.card12 {
  width: 390px;
  height: 154px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: all 0.2s;
}

.card12:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card1:hover {
  box-shadow: 0px 0px 30px 1px #ffffff;
}

.card12 .p {
  font-family: "Rokkitt", serif;
  color: #000000;
  margin-left: 3%;
  padding-top: 4%;
  font-size: 19px;
}

.word {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  margin-left: 3%;
  font-size: 34px;
}

.ho {
  color: #000000;
  font-family: "Rokkitt", serif;
  margin-left: 3%;
}

@media screen and (max-width: 1280px) {
  .boxes {
    height: 900px;
  }
  .card1,
  .card1a {
    position: absolute;
    width: 314px;
    height: 157px;
  }
  .card12 .card12a {
    position: absolute;
    width: 314px;
    height: 156px;
  }

  .card12 .ho {
    font-size: 15px;
  }

  .card1a {
    position: absolute;
    display: flex;
    width: 314px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
    transform: translate(50%, -50%);
    background-image: linear-gradient(163deg, #ffffff 0%, #ffffff 100%);
    border-radius: 20px;
    transition: all 0.3s;
  }

  .card12a {
    width: 314px;
    height: 274.5px;
    background-color: #ffffff;
    border-radius: 20px;
    transition: all 0.2s;
  }
}

.sleeping img {
  position: absolute;
  top: 320px;
  left: 100px;
}

.card1a {
  position: absolute;
  display: flex;
  max-width: 390px;
  height: 275.5px;
  top: 70%;
  right: 50%;
  transform: translate(50%, -50%);
  background-image: linear-gradient(163deg, #ffffff 0%, #ffffff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.card12a {
  width: 390px;
  height: 274.5px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: all 0.2s;
}

.card12a:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card1a:hover {
  box-shadow: 0px 0px 30px 1px #ffffff;
}

.card12a .p {
  font-family: "Rokkitt", serif;
  color: #000000;
  margin-left: 6%;
  padding-top: 4%;
  font-size: 19px;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.images element {
  display: flex;
  justify-content: center;
  align-items: center;
}
